<div class="modal" id="modal">
    <div class="modal-content container">
      <h4 class="center">Ajouter Un Departement</h4>
    </div>
    <div class="modal-body container">
		<div class="row input-field">
			<i class="material-icons prefix">plus_one</i>
			<input type="text"  [(ngModel)]="departement.code" class="validate">
			<label>Code</label>
		</div>
		<div class="row input-field">
			<i class="material-icons prefix">account_circle</i>
			<input type="text"  [(ngModel)]="departement.intitule" class="validate">
			<label>Intitulé</label>
		</div>
    </div>
    <div class="modal-footer">
    	<div class="row">
	      <div class="col l6 m6 s12 center">
				<button (click)='closeAll()' class="btn red">Annuler</button>
			</div>
			<div class="col l6 m6 s12 center">
				<button (click)="onSaveDepartement()" class="btn">Envoyer</button>
			</div>
    	</div>
	</div>
  </div>


