<div class="modal">
    <div class="modal-content">
      <h4>Ajouter Un Departement</h4>
    </div>
    <div class="modal-body">
		<div class="row input-field">
			<label>Code</label>
			<input type="text"  [(ngModel)]="departement.code">
		</div>
		<div class="row input-field">
			<label>Intitulé</label>
			<input type="text"  [(ngModel)]="departement.intitule">
		</div>
    </div>
    <div class="modal-footer">
    	<div class="row">
	      <div class="col l6 m6 s12 center">
				<button (click)='closeAll()' class="btn red">Annuler</button>
			</div>
			<div class="col l6 m6 s12 center">
				<button (click)="onSaveDepartement()" class="btn">Envoyer</button>
			</div>
    	</div>
	</div>
  </div>


