<div class="modal" id="modal">
    <div class="modal-content container">
      <h4 class="center">Ajouter un auteur</h4>
    </div>
    <div class="modal-body container">
    	<div class="row input-field">
			<i class="material-icons prefix">plus_one</i>
			
			<input type="text"  [(ngModel)]="auteur.matricule" class="validate">
			<label>Matricule</label>
		</div>
		<div class="row input-field">
			<i class="material-icons prefix">account_circle</i>
			<input type="text"  [(ngModel)]="auteur.nom" class="validate">
			<label>Nom-Prenom</label>
		</div>
		<div class="row input-field">
			<i class="material-icons prefix">mail</i>
			<input type="email"  [(ngModel)]="auteur.email" class="validate">
			<label>Email</label>
		</div>
		<div class="row input-field">
			<i class="material-icons prefix">call</i>
			<input type="text"  [(ngModel)]="auteur.telephone" class="validate">
			<label>Telephone</label>
		</div>
		<div class="row input-field">
			<i class="material-icons prefix">vpn_key</i>
			<input type="password"  [(ngModel)]="auteur.motDePasse" class="validate">
			<label>Password</label>
		</div>
    </div>
    <div class="modal-footer">
    	<div class="row">
	      <div class="col l6 m6 s12 center">
				<button (click)='closeAll()' class="btn red">Annuler <i class="material-icons right">cancel</i></button>
			</div>
			<div class="col l6 m6 s12 center">
				<button (click)="onSaveAuteur()" class="btn">Envoyer <i class="material-icons right">send</i></button>
			</div>
    	</div>
	</div>
  </div>
