<div class="modal">
    <div class="modal-content">
      <h4>Ajouter Un Auteur</h4>
    </div>
    <div class="modal-body">
    	<div class="row input-field">
			<label>Matricule</label>
			<input type="text"  [(ngModel)]="auteur.matricule">
		</div>
		<div class="row input-field">
			<label>Nom-Prenom</label>
			<input type="text"  [(ngModel)]="auteur.nom">
		</div>
		<div class="row input-field">
			<label>Email</label>
			<input type="email"  [(ngModel)]="auteur.email">
		</div>
		<div class="row input-field">
			<label>Telephone</label>
			<input type="text"  [(ngModel)]="auteur.telephone">
		</div>
    </div>
    <div class="modal-footer">
    	<div class="row">
	      <div class="col l6 m6 s12 center">
				<button (click)='closeAll()' class="btn red">Annuler</button>
			</div>
			<div class="col l6 m6 s12 center">
				<button (click)="onSaveAuteur()" class="btn">Envoyer</button>
			</div>
    	</div>
	</div>
  </div>
