<div class="row modal">
	<div class="row right">
		<div class="col l6 m6 s12 ">
			<button (click)='closeAll()' class="btn #ffeb3b blue"><i class="material-icons">close</i></button>
		</div>
	</div>
	<div class="row">
		<h5>Détails {{departement.code}}</h5>
	</div>
	<div class="row">
		<div class="col l6 m6 s12">
			<b>Code : </b> {{departement.code}}
		</div>
		<div class="col l6 m6 s12">
			<b>Intitulé : </b> {{departement.intitule}}
		</div>
	</div>
	<!-- <div class="row">
		
	</div> -->	
	<div class="row">
	<div class="col l6 m6 s12 center">
		<button (click)="onEdit()" class="btn">Modifier<i class="material-icons right">edit</i></button>
	</div>
	<div class="col l6 m6 s12 center">
		<button (click)="onDeleteDepartement()" class="btn red">Supprimer<i class="material-icons right">delete</i></button>
	</div>
	</div>
</div>
