<div class="modal">
    <div class="modal-content">
      <h4>Ajouter Un Parcours</h4>
    </div>
    <form *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate >
    <div class="modal-body container">
		<div class="row input-field">
			<i class="material-icons prefix">contacts</i>
			<input type="text" 
				name="nom"
				[(ngModel)]="form.nom"
				#nom="ngModel"
				required
				class="validate"
				>
			<label>Nom</label>
			<div class="materialert error" *ngIf="f.submitted && nom.invalid">
				    <div class="material-icons">error_outline</div>
				    Le nom d'un parcours ne peux pas être vide !
				</div>
		</div>
    </div>
    <div class="modal-footer">
    	<div class="row">
	      <div class="col l6 m6 s12 center">
				<button (click)='closeAll()' class="btn red">Annuler<i class="material-icons right">cancel</i></button>
			</div>
			<div class="col l6 m6 s12 center">
				<button type="submit" class="btn">Envoyer<i class="material-icons right">send</i></button>
			</div>
    	</div>
	</div>
</form>
  </div>
