<div class="container">
	<div id="">
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col s12">
						<div class="row">
							<div class="input-field col s12">
								<i class="material-icons prefix">search</i>
								<input type="text" id="autocomplete-input" class="autocomplete">
								<label for="autocomplete-input">search</label>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col l4 s12">
				<h4 class="header">Liste des Parcours</h4>
			</div>
			<div class="right">
				<button [routerLink]="['add']" data-target="modal1" class="col offset-s8-s8 btn-floating btn-large waves-effect waves-light teal darken-2 btn modal-trigger" ><i class="material-icons">add</i></button>
			</div>
		</div>
		<div class="row">
			<div class="col s12">
				<table class="responsive-table striped">
					<thead>
					  <tr>
					      <th>Nom</th>
					      <th>Détailler</th>
					  </tr>
					</thead>
					<tbody>
					  <tr *ngFor="let parcour of parcours">
					    <td>{{parcour.nom}}</td>
					    <td>
							<div>
								<button class="waves-effect waves-teal btn-flat" (click)="details(parcour.id)"><i class="material-icons large">zoom_in</i></button>
				
						</div>
						</td>
					  </tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>