<div id="borderless-table">
	<div class="row">
		<div class="col l4 s12">
			<h4 class="header">Liste des Auteurs</h4>
		</div>
		<button [routerLink]="['add']" data-target="modal1" class="col offset-s8-s8 btn-floating btn-large waves-effect waves-light green btn modal-trigger" ><i class="material-icons">add</i></button>
	</div>
	<div class="row">
		<div class="col s12">
			<table>
				<thead>
				  <tr>
				      <th>Matricule</th>
				      <th>Nom-Prenom</th>
				      <th>Email</th>
				      <th>Telephone</th>
				      <!-- <th>Actions</th> -->
				  </tr>
				</thead>
				<tbody>
				  <tr *ngFor="let auteur of auteurs" (click)="details(auteur.id)">
				    <td>{{auteur.matricule}}</td>
				    <td>{{auteur.nom}}</td>
				    <td>{{auteur.email}}</td>
				    <td>{{auteur.telephone}}</td>
				    <!-- <td>
				    	<div>
				    		<button class="waves-effect waves-light btn modal-trigger"><i class="material-icons">edit</i></button>
				    		<i class="material-icons">insert_link</i>
				    		<button class="waves-effect waves-light btn modal-trigger red"><i class="material-icons">delete</i></button>
				    	</div> -->
				    <!-- </td> -->
				  </tr>
				</tbody>
			</table>
		</div>
	</div>
</div>