<div class="modal">
    <div class="modal-content">
      <h4 class="center">Modifier un mémoire</h4>
	</div>
	<div class="container">

			<form enctype="multipart/form-data" (ngSubmit)="onSaveMemoire()" >
					<div class="modal-body">
						<div class="row input-field">
							<!-- <i class="material-icons prefix tiny">border_color</i> -->Titre
							<input type="text" name="code" [(ngModel)]="memoire.titre">
							<label></label>
						</div>
						<div class="row input-field">
							<!-- <label>Date Publication</label> -->
							<!-- <i class="material-icons prefix tiny">date_range</i> -->Date de soutenance
							<input type="date" name="anneesSoutenance" [(ngModel)]="memoire.anneesSoutenance">
							<!-- <label></label> -->
						</div>
						<div class="row input-field">
							<!-- <i class="material-icons prefix tiny">vpn_key</i> -->Mots clés
							<input type="text" name="motsCles" [(ngModel)]="memoire.motsCles">
							<!-- <label></label> -->
						</div>
						<div class="row input-field">
							<!-- <i class="material-icons prefix tiny">short_text</i> -->Resumé
							<textarea class="materialize-textarea" name="resume" [(ngModel)]="memoire.resume" data-length="500" name="resume"></textarea>
							<!-- <label>Resumé</label> -->
						</div>
						<div class="row input-field">
							<!-- <i class="material-icons prefix tiny">text_format</i> -->Abstract
							<textarea class="materialize-textarea" name="abstrat" [(ngModel)]="memoire.abstrat" data-length="500" name="abstrat"></textarea>
							<!-- <label>Abstract</label> -->
						</div>
						<div class="row">
								<div class="input-field col s12">
							<select multiple name="auteurs" id="auteurs">
							  <option *ngFor="let i=index, let auteur of auteurs" [value]="auteur.id" (click)="updateAuteurs(auteur)" >{{auteur.nom}}</option>
							</select>
							<label>Sélectionnez les auteurs</label>
						  </div>
						</div>
						 <div class="row">
								<div class="input-field col s12">
							<select  name="presidentJury" id="presidentJury" [(ngModel)]="presidentJury">
								<option disabled  value="">Président du Jury</option>
							  <option *ngFor="let i=index, let encadreur of enseignants" [value]="encadreur.id" (click)="updatePrJ(encadreur)" >{{encadreur.nom}}</option>
							</select>
							<label>Sélectionnez le Président de Jury</label>
						  </div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<select multiple name="examinateurs" id="examinateurs" [(ngModel)]="						examinateursSelected">
									<option disabled  value="">Liste des examinateurs</option>
							  		<option *ngFor="let i=index, let examinateur of examinateurs" [value]="				examinateur.id"
							  			(click)="updateExaminateurs(examinateur)"  >{{examinateur.nom}}</option>
								</select>
								<label>Sélectionnez les examinateurs</label>
						  	</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<select multiple name="encadreurs" id="encadreurs" [(ngModel)]="encadreursSelected">
									<option disabled  value="">Liste des encadreurs</option>
						  			<option *ngFor="let i=index, let encadreur of enseignants" [value]="encadreur.id" (click)="updateEncadreurs(encadreur)" >{{encadreur.nom}}</option>
								</select>
								<label>Sélectionnez les encadreurs</label>
					  		</div>
						</div>
						<div class="row">
							<div class="input-field col s12">
								<select  id="specialisation"  name="specialisation" [(ngModel)]="						specialisationSelected">
									<option  value="" disabled >Spécialisation</option>
								  	<option *ngFor="let i=index,let specialisation of specialisations" 
								  		[value]="specialisation.id" (click)="updateSpecialisation(specialisation)" >{{specialisation.code}}</option>
								</select>
								<label for="specialisation">Sélectionnez la spécialistion</label>
							</div>
						</div>
						<div class="row">
						<div class="file-field input-field">
							<div class="btn">
								<span><i class="material-icons">attach_file</i></span>
								<input type="file" [(ngModel)]="document"  name="document" id="fileUpload" (change)="onSelectedFile($event)">
							</div>
							<div class="file-path-wrapper">
								<input class="file-path validate" type="text" placeholder="Ajouter votre fichier pdf" >
							</div>
						</div>
					</div>
					</div>
					<div class="modal-footer">
						<div class="row">
						  <div class="col l6 m6 s12 center">
								<button (click)='closeAll()' class="btn red">Annuler <i class="material-icons right">cancel</i></button>
							</div>
							<div class="col l6 m6 s12 center">
								<button  type="submit" class="btn">Envoyer <i class="material-icons right">send</i></button>
							</div>
						</div>
					</div>
				</form>
	</div>
    	
  </div>


